@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* Font size */
    /* Heading */
    --text-h1: 3.0625rem;
    --text-h2: 2.4375rem;
    --text-h3: 1.9375rem;

    /* Label */
    --text-l1: 1.5625rem;
    --text-l2: 1.25rem;

    /* Basic Text */
    --text-reguler: 1rem;
    --text-1: 0.8125rem;
    --text-2: 0.625rem;

    /* Background */
    --bg-white2: #F8F7F6;

    /* ---------- PRIMARY (Kuning ke Coklat) ---------- */
    --color-primary-50:  #FFE7CF;
    --color-primary: #FFB504; /* Primary */
    --color-primary-200: #CD9100;
    --color-primary-300: #9E6E00;
    --color-primary-400: #714E00;
    --color-primary-500: #472F00;
    --color-primary-600: #201400;

    /* ---------- SECONDARY (Pink ke Merah) ---------- */
    --color-secondary-50:  #FFEDEC;
    --color-secondary-100: #FFC5C3;
    --color-secondary-200: #FF8B83;
    --color-secondary: #FF3704; /* Secondary */
    --color-secondary-400: #BE2600;
    --color-secondary-500: #811600;
    --color-secondary-600: #490800;

    /* ---------- TERTIARY (Hijau Neon ke Hijau Tua) ---------- */
    --color-tertiary:  #CCFF04; /* Tertiary */
    --color-tertiary-100: #A0D400;
    --color-tertiary-200: #87AA00;
    --color-tertiary-300: #678300;
    --color-tertiary-400: #495D00;
    --color-tertiary-500: #2C3A00;
    --color-tertiary-600: #121A00;

    /* ---------- NEUTRAL DARK (Hitam) ---------- */
    --color-dark: #212121;

    /* ---------- NEUTRAL GRAY (Abu) ---------- */
    --color-neutral-50:  #ECEBE9;
    --color-neutral-100: #C7C2BD;
    --color-neutral-200: #A09C97;
    --color-neutral-300: #7A7774;
    --color-neutral-400: #565452;
    --color-neutral-500: #353332;
    --color-neutral-600: #171615;
    --color-neutral-25: #F8F7F6;

    /* Custom Shadow */
    --shadow-reguler: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadow-button: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

[x-cloak] {
    display: none !important;
}

.table-container {
  /* Set a fixed height and/or width to trigger overflow if content exceeds it */
  max-height: 300px; /* Example height */
  overflow-y: auto;  /* Enable vertical scrolling when content overflows */

  /* Hide scrollbar for Chrome, Safari, and Opera */ */
   &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
